.footer {
    background-color: var(--bg-color-grey);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 89px;
}

// .footer__adress-container {}

// .footer__socials-container {}

.footer__action {
    display: block;

    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-title-color);

    margin-bottom: 20px;
}

// .footer-modal__container {}