:root {
  --logo-font: 'Raleway';
  --main-font: 'Roboto';

  --main-text-color: #757575;
  --title-color: #212121;
  --white-title-color: #ffffff;

  --brand-color: #2196f3;
  --brand-dark-color: #188ce8;
  --brand-overlay-color: rgba(33, 150, 243, 0.9);

  --icon-color: #afb1b8;

  --general-overlay-color: rgba(47, 48, 58, 0.8);

  --hero-gradient: #2f303a66;

  --bg-color-grey: #2f303a;
  --bg-color-white: #ffffff;
  --bg-color-dark-white: #f5f4fa;

  --border-color: #ececec;
  --wrap-color: #eeeeee;

}
